<html>
 <head>
    <title>Yeti Bitcoin Storage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet", href="{{ url_for('static', filename='style.css') }}">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
  </head>
  <body>
      <nav class="form-row navbar navbar-light" style="background-color: rgb(112,196,245)!important;">
          <img src="{{url_for('static', filename='yeti.png')}}" width="50" height="50" class="align-top" alt="">
          <h3 style="color:white;margin:0;">Yeti Bitcoin Cold Storage</h3>
      </nav>
      <div class="container" style="margin-top: 3rem;">
          <h2>Step 3: Run bitcoind</h2>
          <div>
              <ul>
                  <li>Yeti has opened bitcoin-qt for you. This is the graphical interface for bitcoin core and will provide more detailed status.</li>
                  <li>Once it has completed updating you will have a bitcoin core full node.</li>
                  <li>This step can take as little as 4 hours if you have an SSD and a fast internet connection or as long as a couple of weeks if you do not.</li>
                  <li>When bitcoin finished the "initial block download" it will show your balance in bitcoin-qt and the Next button will be enabled."
              </ul>
          </div>
          <div class="progress mb-3">
              <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:{{ progress }}%">
    {{ progress }}% Done
        </div>
        <div>
      <form action="" method="post">
        <input style="display: none;" name="option" value="VALUE">
        <input style="display: none;" class="btn btn-primary" type="submit" id="next" value="Next">
      </form>
    </div>
    <script>
      var enable = () => {
        if ({{ progress }} >= 99) {
          document.getElementById("next").style.display = ""
        } else {
          setTimeout(() => { document.getElementById("next").click() }, 5000)
        }
      }
      enable()
    </script>
  </body>
</html>