<html>
 <head>
    <title>Yeti Bitcoin Storage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet", href="{{ url_for('static', filename='style.css') }}">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
  </head>
  <body>
    <nav class="form-row navbar navbar-light" style="background-color: rgb(112,196,245)!important;">
        <img src="{{url_for('static', filename='yeti.png')}}" width="50" height="50" class="align-top" alt="">
        <h3 style="color:white;margin:0;">Yeti Bitcoin Cold Storage</h3>
    </nav>
    <div class="container" style="margin-top: 3rem;">
      <h2>Step 1: Gather Required Equipment</h2>
      <p>Gather the following items and then click next.>
        <ul>
            <li>Two laptops that can run Ubuntu and Bitcoin Core. At the time of this writing almost any laptop with at least 500 GB of disk storage will work but if your laptop as an SSD type hard some steps will take a few hours instead of a few weeks. Laptops without SSD type drives can be purchased for less than $200 and SSD drives add roughly $50 to the cost.</li>
            <li>An external hard drive with at least 500 GB of disk storage that can connect to both laptops. This will cost less about $100.</li>
            <li>A second external hard drive with at least 10 GB of disk storage than can connect to both laptops. This will cost about $25.</li>
            <li>A printer and printer paper.</li>
        </ul>
      <form action="" method="post">
        <input class="btn btn-primary" type="submit" id="next" value="Next">
      </form>
    </div>
  </body>
</html>
