<html>
 <head>
    <title>Yeti Bitcoin Storage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet", href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet", href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='jquery-3.3.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
  </head>
  <body>
    <nav class="form-row navbar navbar-light bg-primary">
        <img src="{{url_for('static', filename='yeti.png')}}" width="50" height="50" class="align-top" alt="">
        <h3 style="color:black;margin:0;">Bitcoin Core Offline</h3>
    </nav>
    <div class="container" style="margin-top: 3rem;">
      <h2>Bitcoin Core Offline Utxo display</h2>
      <p style="margin-bottom: 30px;">These are you unspent transactions. Bitcoin Core Offline only let's you send the full balance of a unspent transaction so you should send funds to another wallet you control, such as a Yeti Hot Wallet, in order to send smaller amounts.</p>
      <p style="margin-bottom: 30px;">Click <b style="color: #0000EE;cursor:pointer;" id="refresh">Refresh</b> in your browser to update balances.</p>
      <p style="margin-bottom: 30px;">Total Balance: {{TWB}}</p>
      <ul style="padding: 0px;">
      {%for i in range(0, len)%} 
        {%if (i % 2) == 0 %} 
          <li style="display: flex;" class="list-group-item navbar navbar-inverse">
        {%else%}
          <li style="display: flex;background-color: #e9ecef!important;color: #212529!important;" class="list-group-item navbar navbar-inverse">
        {%endif%}
            <nav style="width: 100%;background-color: transparent!important;" class="navbar navbar-expand-lg navbar-light bg-light">
                <div style="-ms-flex-preferred-size: 100%;flex-basis: 100%;-ms-flex-positive: 1;flex-grow: 1;-ms-flex-align: center;align-items: center;display: -ms-flexbox!important;display: flex!important;-ms-flex-preferred-size: auto;flex-basis: auto;" id="navbarSupportedContent">
                  <ul style="width:35%!important" class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a class="nav-link">{{addresses[i]['address']}}</a>
                    </li>
                  </ul>
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a class="nav-link">Balance:</a>
                    </li>
                    <li class="nav-item active">
                      <a class="nav-link">{{addresses[i]['balance']}}</a>
                    </li>
                  </ul>
                  <form class="form-inline my-2 my-lg-0">
                    <input style="display: none;" name="option" value="SEND">
                    <input style="display: none;" name="txid" value="{{addresses[i]['txid']}}">
                    <input class="btn btn-primary m-2 my-sm-0" type="button" id="show{{i}}" value="Send">
                  </form>
                </div>
              </nav>
          </li>
      {%endfor%}
      </ul>
    </div>
  </body>
  <script>
    document.getElementById("refresh").addEventListener("click", function(){
      window.location.reload();
    })
  </script>
</html>