<html>
 <head>
    <title>Yeti Bitcoin Storage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet", href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet", href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
  </head>
  <body>
    <div id='navbar'></div>
    <div class="container" style="margin-top: 3rem;">
      <h2>Choose Blockchain</h2>
      <p style="margin-bottom:30px;">We have enabled wifi on your laptop please connect to your local net work to download the blockchain. Yeti will shut off your wifi after you finished downloading the blockchain.</p>
      <p>If you are going to recover a wallet but are either, unsure of the size of your hard drive, or know that it is too small to keep the whole blockchain. Then select the date of your first transactions, and yeti will prune it to a couple of weeks before that date.</p>
      <p>Leave blank if you have enough storage for the whole blockchain, Or enter todays date if you are going to create a new wallet.</p>
      <form action="" method="post">
        <div class="form-group col-md-10">
          <input type="date" name="date">
        </div>
        <input style="display: none;" name="option" value="VALUE">
        <input class="btn btn-primary" type="submit" id="next" value="Use secure blockchain">
      </form>
    </div>
    <script>
      navbar("{{yeti}}", "{{url_for('static', filename='yeti.png')}}");
    </script>
  </body>
</html>