<html>
 <head>
    <title>Yeti Bitcoin Storage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet", href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet", href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
  </head>
  <body>
    <div id='navbar'></div>
    <div class="container" style="margin-top: 3rem;">
      <h1>Cold Wallet Guide</h1>
      <p>These steps will walk you through <b>Reciving</b>.</p>
      <div class="card mb-3" style="width: 50%;">
        <div class="card-body">
          <h3>Receive: Step 1</h3> 
          <p class="card-text">In the bitcoin core application on your Online Laptop click the Receive button in the menu bar.</p>
        </div>
        <img class="card-img-top" src="{{url_for('static', filename='Receive1.png')}}" alt="Card image cap">
      </div>
      <div class="card mb-3" style="width: 50%;">
        <div class="card-body">
          <h3>Receive: Step 2</h3> 
          <p class="card-text">Click the "Create new receiving address" button outlined in red.</p>
        </div>
        <img class="card-img-top" src="{{url_for('static', filename='Receive2.png')}}" alt="Card image cap">
      </div>
      <div class="card mb-3" style="width: 50%;">
        <div class="card-body">
          <h3>Receive: Finished</h3> 
          <p class="card-text">Confirm that your wallet (outlined in red) shows "yetiwalletpriv"(offline laptop) or "yetiwalletpub"(online laptop). You can now send money to the wallet using the QR code or the address displayed bellow it.</p>
        </div>
        <img class="card-img-top" src="{{url_for('static', filename='Receive3.png')}}" alt="Card image cap">
      </div>
  </div>
</template>
    <script>
      navbar("{{yeti}}", "{{url_for('static', filename='yeti.png')}}");
    </script>
  </body>
</html>
