<html>
 <head>
    <title>Yeti Bitcoin Wallet</title>
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet", href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet", href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
  </head>
  <body>
    <div id='navbar'></div>
    <div class="container" style="margin-top: 3rem;">
      <h2>Step {{step}}: Copy Erase file to USB</h2>
        <ol>
          <li>Insert the USB drive labeled "Transfer."</li>
          <li>Open the <b>Files</b> application and click on <b>Documents</b>.</li>
          <li>Copy the folder named "erase.txt" to the USB drive.</li>
          <li>Eject the USB drive then click <b>Next</b>.</li>
        </ol>
        {%if yeti == 'Cold'%}
        <p class="text-danger">Be careful that you don't delete this file when you use the USB to send and receive transactions.</p>
        {%endif%}
      <form action="" method="post" style="margin-top:35px;">
        <input style="display: none;" name="option" value="VALUE">
        <input class="btn btn-primary" type="submit" id="next" value="Next">
      </form>
    </div>
    <script>
      navbar("{{yeti}}", "{{url_for('static', filename='yeti.png')}}");
    </script>
  </body>
</html>
