<html>
 <head>
    <title>Yeti Bitcoin Wallet</title>
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet", href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet", href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
  </head>
  <body>
    <div id='navbar'></div>
    <div class="container" style="margin-top: 3rem;">
        <h2>Step {{step}}: Copy Seeds to CDs</h2>
        <ol>
          <li>Insert your CD labeled "Seed1".</li>
          <li>Open the <b>Files</b> application and click on <b>Documents</b>.</li>
          <li>Copy the file named "yetiseed1.txt" to the CD and click <b>Write to Disc</b> and then click <b>Burn</b>.</li>
          <li>When you see "Data CD successfully burnt" click <b>Close</b> and remove the CD.</li>
          <li>Repeat steps 1 through 4 above with your other six seeds and seed CDs respectively then click <b>Next</b> to continue.</li>
        </ol>
      <p class="text-danger">Ensure that you have a different seed on each of your seven seed CDs labeled "Seed 1" through "Seed 7" before clicking Next.</p>
      <form action="" method="post" style="margin-top:35px;">
        <input style="display: none;" name="option" value="VALUE">
        <input class="btn btn-primary" type="submit" id="next" value="Next">
      </form>
    </div>
    <script>
      navbar("{{yeti}}", "{{url_for('static', filename='yeti.png')}}");
    </script>
  </body>
</html>
