<html>
 <head>
    <title>Yeti Bitcoin Storage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet", href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet", href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
  </head>
  <body>
    <nav class="form-row navbar navbar-light" style="background-color: rgb(112,196,245)!important;">
        <img src="{{url_for('static', filename='yeti.png')}}" width="50" height="50" class="align-top" alt="">
        <h3 style="color:white;margin:0;">Yeti Bitcoin Cold Storage</h3>
    </nav>
    <div class="container" style="margin-top: 3rem;">
      <h2></h2>
      <div class="hero-unit">
          <h1>Setup Yeti Cold Storage</h1>
          <p>Select this option if you want to create a new place to store bitcoin.</p>
          <p>
            <a class="btn btn-primary btn-large">Learn more</a>
          </p>
      </div>
      <div class="hero-unit">
          <h1>Recover Bitcoin from Yeti Cold Storage</h1>
          <p>Select this option if you want to spend bitcoin out of your existing Yeti Cold Storage location and you have 3 of your 7 seed packets.</p>
          <p>
            <a class="btn btn-primary btn-large">Learn more</a>
          </p>
      </div>
      <form action="" method="post">
        <input style="display: none;" name="option" value="End">
        <input class="btn btn-primary" type="submit" id="next" value="Next">
      </form>
    </div>
  </body>
</html>
