<html>
 <head>
    <title>Yeti Bitcoin Wallet</title>
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet", href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet", href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
  </head>
  <body>
    <div id='navbar'></div>
    <div class="container" style="margin-top: 3rem;">
      <h2>Step {{step}}: Go to the erase guide.</h2>
      {% if yeti == 'Cold'%}
      <p>On a device other than your Primary or Secondary laptop go to <code>erase.yeticold.com</code> for instructions.</p>
      {%else%}
      <p>On a device other than your Ubuntu laptop go to <code>erase.yeticold.com</code> for instructions.</p>
      {%endif%}
    </div>
    <script>
      navbar("{{yeti}}", "{{url_for('static', filename='yeti.png')}}");
    </script>
  </body>
</html>
