<html>
 <head>
    <title>Yeti Bitcoin Storage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet", href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet", href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
  </head>
  <body>
    <div id='navbar'></div>
    <div class="container" style="margin-top: 3rem;">
      <h2>Step {{step}}: Further Randomize Your Bitcoin Seeds</h2>
      <p>Provide additional entropy and click <b>Next</b>, or click <b>Skip</b> to continue.</p>
      <ul>
          <li>Your Bitcoin Seeds are the secret pieces of data that allow you to control the bitcoin as long as you have access to at least 3 of them.</li>
          <li>Yeti uses Bitcoin Core to generate your seeds, but if you would like to provide additional randomness you can do so here.</li>
          <li>This is not necessary. If there were concerns that Bitcoin Core was not random enough additional randomness could be added without user hassle.</li>
          <li>This can't be harmful. You will not reduce the randomness of your seeds no matter what data you provide here.</li>
          <li>A good way to create randomness is to shake a box of coins and type 1 for heads and 0 for tails.</li>
          <li>Loading the next window may take a couple minutes after you click Next.</li>
      </ul>
        <form action="" method="post" style="margin-top:35px;">
          <input style="display: none;" name="skip" value="skip">
          <input class="btn btn-primary" type="submit" id="skip" value="Skip">
        </form>
        <form action="" method="post">
        <div class="form-row" id="row1">
            <div class="form-group col-md-10">
              <label for="inputEmail4">Seed One</label>
              <input type="text" class="form-control" placeholder="256 binary numbers" name="binary1" id="binary1">
            </div>
            <div class="form-group col-md-2">
              <div style="margin-top:2.5rem;" name="count1" id="count1"></div>
            </div>
        </div>
         <div class="form-row" id="row1">
            <div class="form-group col-md-10">
              <label for="inputEmail4">Seed Two</label>
              <input type="text" class="form-control" placeholder="256 binary numbers" name="binary2" id="binary2">
            </div>
            <div class="form-group col-md-2">
              <div style="margin-top:2.5rem;" name="count2" id="count2"></div>
            </div>
        </div><div class="form-row" id="row1">
            <div class="form-group col-md-10">
              <label for="inputEmail4">Seed Three</label>
              <input type="text" class="form-control" placeholder="256 binary numbers" name="binary3" id="binary3">
            </div>
            <div class="form-group col-md-2">
              <div style="margin-top:2.5rem;" name="count3" id="count3"></div>
            </div>
        </div>
         <div class="form-row" id="row1">
            <div class="form-group col-md-10">
              <label for="inputEmail4">Seed Four</label>
              <input type="text" class="form-control" placeholder="256 binary numbers" name="binary4" id="binary4">
            </div>
            <div class="form-group col-md-2">
              <div style="margin-top:2.5rem;" name="count4" id="count4"></div>
            </div>
        </div>
        <div class="form-row" id="row1">
            <div class="form-group col-md-10">
              <label for="inputEmail4">Seed Five</label>
              <input type="text" class="form-control" placeholder="256 binary numbers" name="binary5" id="binary5">
            </div>
            <div class="form-group col-md-2">
              <div style="margin-top:2.5rem;" name="count5" id="count5"></div>
            </div>
        </div>
        <div class="form-row" id="row1">
            <div class="form-group col-md-10">
              <label for="inputEmail4">Seed Six</label>
              <input type="text" class="form-control" placeholder="256 binary numbers" name="binary6" id="binary6">
            </div>
            <div class="form-group col-md-2">
              <div style="margin-top:2.5rem;" name="count6" id="count6"></div>
            </div>
        </div>
         <div class="form-row" id="row1">
            <div class="form-group col-md-10">
              <label for="inputEmail4">Seed Seven</label>
              <input type="text" class="form-control" placeholder="256 binary numbers" name="binary7" id="binary7">
            </div>
            <div class="form-group col-md-2">
              <div style="margin-top:2.5rem;" name="count7" id="count7"></div>
            </div>
        </div>
        <input style="display: none;" name="skip" value="dontskip">
        <input disabled class="btn btn-primary" type="submit" id="xorbtn" value="Next">
      </form>
    </div>
    <script>
      navbar("{{yeti}}", "{{url_for('static', filename='yeti.png')}}");
      var enable = () => {
        binaryrows = 0
        for (var i = 1; i < 8; i++) {
          var binary = document.getElementById('binary' + i).value
          if (binary.length === 256) { binaryrows = binaryrows + 1 }
        }
        if (binaryrows === 7) {
          document.getElementById("xorbtn").disabled = false
        } else {
          document.getElementById("xorbtn").disabled = true
        }
        setTimeout(() => {enable()}, 80)
      }
      highlightBin()
      enable()
    </script>
  </body>
</html>
