<html>
<head>
    <title>Yeti Bitcoin Storage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet", href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet", href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
  </head>
  <body>
    <div id='navbar'></div>
    <div class="container" style="margin-top: 3rem;">
        {% if yeti == 'Hot' %}
        <h2>Step {{step}}: Import Seed</h2>
        <p>Insert any of your seed CDs and select the file "yhseed.txt" and then click <b>Next</b> to continue.</p>
        {%else%}
        <h2>Step {{step}}: Import Seed {{ x }} of 3</h2>
        <p>Insert any of your seed CDs and select the file "YetiSeed.txt" in the "YetiSeed" folder and then click <b>Next</b> to continue.</p>
        {%endif%}
      {% if error %}
        <p style="color:red;">{{ error }}</p>
      {% endif %}
        <form autocomplete="off" action="" method="post" style="border: solid #f8f9fa;padding: 1.5rem;">
        <div class="form-row">
          <div class="input-group col-md-10 mb-3">
            <div class="custom-file" style="cursor: pointer;">
              <label style="cursor: pointer;" class="custom-file-label" for="inputGroupFile01">Choose file</label>
              <input style="cursor: pointer;" id="filepath" type="file" name="path" class="custom-file-input">
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-10 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">1</span>
            </div>
            <input type="text" class="form-control" value="" data-toggle="tooltip" data-trigger="focus" data-placement="bottom" title="" id="row1" name="row1" placeholder="Phrase One">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-10 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">2</span>
            </div>
            <input type="text" class="form-control" value="" data-toggle="tooltip" data-trigger="focus" data-placement="bottom" title="" id="row2" name="row2" placeholder="Phrase Two">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-10 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">3</span>
            </div>
            <input type="text" class="form-control" value="" data-toggle="tooltip" data-trigger="focus" data-placement="bottom" title="" id="row3" name="row3" placeholder="Phrase Three">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-10 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">4</span>
            </div>
            <input type="text" class="form-control" value="" data-toggle="tooltip" data-trigger="focus" data-placement="bottom" title="" id="row4" name="row4" placeholder="Phrase Four">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-10 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">5</span>
            </div>
            <input type="text" class="form-control" value="" data-toggle="tooltip" data-trigger="focus" data-placement="bottom" title="" id="row5" name="row5" placeholder="Phrase Five">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-10 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">6</span>
            </div>
            <input type="text" class="form-control" value="" data-toggle="tooltip" data-trigger="focus" data-placement="bottom" title="" id="row6" name="row6" placeholder="Phrase Six">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-10 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">7</span>
            </div>
            <input type="text" class="form-control" value="" data-toggle="tooltip" data-trigger="focus" data-placement="bottom" title="" id="row7" name="row7" placeholder="Phrase Seven">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-10 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">8</span>
            </div>
            <input type="text" class="form-control" value="" data-toggle="tooltip" data-trigger="focus" data-placement="bottom" title="" id="row8" name="row8" placeholder="Phrase Eight">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-10 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">9</span>
            </div>
            <input type="text" class="form-control" value="" data-toggle="tooltip" data-trigger="focus" data-placement="bottom" title="" id="row9" name="row9" placeholder="Phrase Nine">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-10 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">10</span>
            </div>
            <input type="text" class="form-control" value="" data-toggle="tooltip" data-trigger="focus" data-placement="bottom" title="" id="row10" name="row10" placeholder="Phrase Ten">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-10 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">11</span>
            </div>
            <input type="text" class="form-control" value="" data-toggle="tooltip" data-trigger="focus" data-placement="bottom" title="" id="row11" name="row11" placeholder="Phrase Eleven">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-10 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">12</span>
            </div>
            <input type="text" class="form-control" value="" data-toggle="tooltip" data-trigger="focus" data-placement="bottom" title="" id="row12" name="row12" placeholder="Phrase Twelve">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-10 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">13</span>
            </div>
            <input type="text" class="form-control" value="" data-toggle="tooltip" data-trigger="focus" data-placement="bottom" title="" id="row13" name="row13" placeholder="Phrase Thirteen">
          </div>
        </div>
        <input disabled class="btn btn-primary" type="submit" id="nextkey" value="Next">
      </form>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/crypto-js.js"></script>
<script>   
    navbar("{{yeti}}", "{{url_for('static', filename='yeti.png')}}");
    document.addEventListener('keydown', (evt) => {
      if (evt.key === 'Tab'){
        autocompleted = autocomplete(document.getElementById(evt.srcElement.id).value)
        if (autocompleted) {
          document.getElementById(evt.srcElement.id).setAttribute('data-original-title', '')
          document.getElementById(evt.srcElement.id).value = autocompleted
          if (autocompleted.split(' ').length != 5) {
            document.getElementById(evt.srcElement.id).value = document.getElementById(evt.srcElement.id).value + ' '
            evt.preventDefault()
          }
        }else{
          evt.preventDefault()
        }
      }else if (evt.key.length === 1 || evt.key === 'Backspace'){
        input = document.getElementById(evt.srcElement.id).value
        if (evt.key === 'Backspace') {
          input = input.substring(0, input.length - 1)
        } else {
          input = input + evt.key
        }
        tooltip = autocompletetooltip(input)
        if (tooltip === undefined){
          tooltip = ''
        }
        document.getElementById(evt.srcElement.id).setAttribute('data-original-title', tooltip)
      }
      if (document.getElementById(evt.srcElement.id).getAttribute('data-original-title') === '') {
        $('#' + evt.srcElement.id).tooltip('hide');
      }
      if (document.getElementById(evt.srcElement.id).getAttribute('data-original-title') !== '') {
        setTimeout(() => {
        $('#' + evt.srcElement.id).tooltip('show');
      },250)
      }
    }); 
    importfile()
    highlightrows()
    $('[data-toggle="tooltip"]').tooltip();   
    </script>
  </body>
</html>
