<html>
 <head>
    <title>Yeti Bitcoin Storage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet", href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet", href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
  </head>
  <body>
    <h1 id="changeone" style="font-family:Times;font-weight: bold;">Internal Server Error</h1>
    <p id="changetwo">The server encountered an internal error and was unable to complete your request. Either the server is overloaded or there is an error in the application.</p>
    <script>
      var changescreen = () => {
        document.getElementById('changetwo').innerHTML = "You win."
        document.getElementById('changeone').innerHTML = "Achevment earned: Persistance"
      }
      setTimeout(() => { changescreen() }, 30000)
    </script>
  </body>
</html>