<html>
 <head>
    <title>Yeti Bitcoin Storage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet", href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet", href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
  </head>
  <body>
    <div id='navbar'></div>
    <div class="container" style="margin-top: 3rem;">
        <h2>Choose: Create or Open a Wallet</h2>
        <div style="margin-bottom: 30px;">Create a new warm wallet to hold bitcoin or recover a wallet you created previously.</div>
      <form action="" method="post">
        <input style="display: none;" name="option" value="recovery">
         <input class="btn btn-primary" type="submit" id="next" value="Recover Wallet">
      </form>
      <form action="" method="post">
        <input style="display: none;" name="option" value="VALUE">
         <input class="btn btn-primary" type="submit" id="next" value="Create Wallet">
      </form>
    </div>
    <script>
      navbar("{{yeti}}", "{{url_for('static', filename='yeti.png')}}");
    </script>
  </body>
</html>
