<html>
 <head>
    <title>Yeti Bitcoin Storage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet", href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet", href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
  </head>
  <body>
    <div id='navbar'></div>
    <div class="container" style="margin-top: 3rem;">
      <h2>Step {{step}}: Print this page</h2>
      <p>After you have verified this page printed correctly and the QR codes look clear, click <b>Next</b> to continue.</p>
      <form action="" method="post" style="margin-top:35px;">
        <input style="display: none;" name="option" value="VALUE">
        <input class="btn btn-primary" type="submit" id="next" value="NEXT">
      </form>
      <div style="margin-top:100vh;page-break-after: always;"></div>
      <ul>
          <li>This is a seed packet that contains 1/3 of the information needed to recover bitcoins in a 3 of 7 HD multisig wallet.</li>
          <li>There are 6 other packets that are identical except that they contain one of the other sets of seed words.</li> 
          <li>The HD Multisig wallet was was created using YetiCold.com (a Python script to make the experience more user friendly) and Bitcoin Core 0.19 RC1.</li>
          <li>To recover the bitcoin go to YetiCold.com and click "Cold" and then follow the recovery instructions.</li>
          <li>YetiCold.com should direct you to download a script to make the process of using Bitcoin Core easier, but never trust any website with your seed words.</li>
          <li>Consider putting a small amount of money into YetiCold.com cold storage and recovering them before attempting to recover significant funds.</li>
          <li>A test run will give you the opportunity to make sure that your seed words are never connected to an online device before.</li>
          <li>If many years have passed you should check that YetiCold.com has retained a good reputation.</li>
          <li>If YetiCold.com is no longer reputable use Bitcoin Core alone to recover your bitcoin (with the help of a trusted expert only if absolutely needed as these people may attempt to steal the bitcoin).</li>
          <li>No software beyond Bitcoin Core is required to recover the stored bitcoin.</li>
          <li>This seed packet also contains a usb device that has a digital copy of the information on this document. It does not contain another set of seed words, but simply a copy of the seed words in this document.</li>
          <li>Two other seed packets must be obtained to recover the bitcoin stored.</li>
          <li>YetiCold.com recommends storing seed words in locations like safety deposit boxes, home safes, and with professionals such as accountants and lawyers.</li> 
      </ul>
      <div style="page-break-after: always;"></div>
      <h4>This is your descriptor. To easily recover your funds later you must have 3 sets of seed words and this descriptor.</h4>
      <h4 style="word-break:break-all; width: 70vh;"> {{ first }}</h4>
      <img src="{{path}}" style="height: 70vh; width: 70vh">
      <div style="page-break-after: always;"></div>
      <ul>
          <li>This is one set of your seed words. This is the first of seven. You need 3 of these and your descriptor to easily recover your bitcoin.</li>
          <li>YeitCold.com accepts these seed words in this modified NATO format, but other bitcoin software, such as Bitcoin Core, may require you provide your seed in the Wallet Import Format (WIF).</li>
          <li>To convert these seed words into WIF format ignore the fifth word (last word) on each line (it is used as checksum as part of modified NATO). Then use the first letter of each word to determine the letter. For example "JULIETT" is J and "quebec" is q. Upper case words represent upper case letters and lower case words represent lower case letters. Numbers are written out so "TWO" is 2. This will give you 52 numbers, uppercase letters, and lowercase letters that is your seed in WIF
              format.</li>
          <li>This seed is also stored in both the modified NATO format and the WIF format on the usb drive that should be stored with this document.</li>
      </ul>
      <form action="" method="post" style="border: solid #f8f9fa;padding: 1.5rem;">
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">1</span>
            </div>
            <input type="text" class="form-control" value="" id="row1" name="row1">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">2</span>
            </div>
            <input type="text" class="form-control" value="" id="row2" name="row2">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">3</span>
            </div>
            <input type="text" class="form-control" value="" id="row3" name="row3">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">4</span>
            </div>
            <input type="text" class="form-control" value="" id="row4" name="row4">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">5</span>
            </div>
            <input type="text" class="form-control" value="" id="row5" name="row5">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">6</span>
            </div>
            <input type="text" class="form-control" value="" id="row6" name="row6">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">7</span>
            </div>
            <input type="text" class="form-control" value="" id="row7" name="row7">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">8</span>
            </div>
            <input type="text" class="form-control" value="" id="row8" name="row8">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">9</span>
            </div>
            <input type="text" class="form-control" value="" id="row9" name="row9">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">10</span>
            </div>
            <input type="text" class="form-control" value="" id="row10" name="row10">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">11</span>
            </div>
            <input type="text" class="form-control" value="" id="row11" name="row11">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">12</span>
            </div>
            <input type="text" class="form-control" value="" id="row12" name="row12">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">13</span>
            </div>
            <input type="text" class="form-control" value="" id="row13" name="row13">
          </div>
        </div>
      </form>
    </div>
      <div style="page-break-after: always;"></div>
      <ul>
          <li>This is a seed packet that contains 1/3 of the information needed to recover bitcoins in a 3 of 7 HD multisig wallet.</li>
          <li>There are 6 other packets that are identical except that they contain one of the other sets of seed words.</li> 
          <li>The HD Multisig wallet was was created using YetiCold.com (a Python script to make the experience more user friendly) and Bitcoin Core 0.19 RC1.</li>
          <li>To recover the bitcoin go to YetiCold.com and click "Cold" and then follow the recovery instructions.</li>
          <li>YetiCold.com should direct you to download a script to make the process of using Bitcoin Core easier, but never trust any website with your seed words.</li>
          <li>Consider putting a small amount of money into YetiCold.com cold storage and recovering them before attempting to recover significant funds.</li>
          <li>A test run will give you the opportunity to make sure that your seed words are never connected to an online device before.</li>
          <li>If many years have passed you should check that YetiCold.com has retained a good reputation.</li>
          <li>If YetiCold.com is no longer reputable use Bitcoin Core alone to recover your bitcoin (with the help of a trusted expert only if absolutely needed as these people may attempt to steal the bitcoin).</li>
          <li>No software beyond Bitcoin Core is required to recover the stored bitcoin.</li>
          <li>This seed packet also contains a usb device that has a digital copy of the information on this document. It does not contain another set of seed words, but simply a copy of the seed words in this document.</li>
          <li>Two other seed packets must be obtained to recover the bitcoin stored.</li>
          <li>YetiCold.com recommends storing seed words in locations like safety deposit boxes, home safes, and with professionals such as accountants and lawyers.</li> 
      </ul>
    <div style="page-break-after: always;"></div>
    <div class="container" style="margin-top: 3rem;">
      <h4>This is your descriptor. To easily recover your funds later you must have 3 sets of seed words and this descriptor.</h4>
      <h4 style="word-break:break-all; width: 70vh;"> {{ first }}</h4>
      <img src="{{path}}" style="height: 70vh; width: 70vh">
      <div style="page-break-after: always;"></div>
      <ul>
          <li>This is one set of your seed words. This is the second of seven. You need 3 of these and your descriptor to easily recover your bitcoin.</li>
          <li>YeitCold.com accepts these seed words in this modified NATO format, but other bitcoin software, such as Bitcoin Core, may require you provide your seed in the Wallet Import Format (WIF).</li>
          <li>To convert these seed words into WIF format ignore the fifth word (last word) on each line (it is used as checksum as part of modified NATO). Then use the first letter of each word to determine the letter. For example "JULIETT" is J and "quebec" is q. Upper case words represent upper case letters and lower case words represent lower case letters. Numbers are written out so "TWO" is 2. This will give you 52 numbers, uppercase letters, and lowercase letters that is your seed in WIF
              format.</li>
          <li>This seed is also stored in both the modified NATO format and the WIF format on the usb drive that should be stored with this document.</li>
      </ul>
      <form action="" method="post" style="border: solid #f8f9fa;padding: 1.5rem;">
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">1</span>
            </div>
            <input type="text" class="form-control" value="" id="row1" name="row1">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">2</span>
            </div>
            <input type="text" class="form-control" value="" id="row2" name="row2">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">3</span>
            </div>
            <input type="text" class="form-control" value="" id="row3" name="row3">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">4</span>
            </div>
            <input type="text" class="form-control" value="" id="row4" name="row4">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">5</span>
            </div>
            <input type="text" class="form-control" value="" id="row5" name="row5">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">6</span>
            </div>
            <input type="text" class="form-control" value="" id="row6" name="row6">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">7</span>
            </div>
            <input type="text" class="form-control" value="" id="row7" name="row7">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">8</span>
            </div>
            <input type="text" class="form-control" value="" id="row8" name="row8">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">9</span>
            </div>
            <input type="text" class="form-control" value="" id="row9" name="row9">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">10</span>
            </div>
            <input type="text" class="form-control" value="" id="row10" name="row10">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">11</span>
            </div>
            <input type="text" class="form-control" value="" id="row11" name="row11">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">12</span>
            </div>
            <input type="text" class="form-control" value="" id="row12" name="row12">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">13</span>
            </div>
            <input type="text" class="form-control" value="" id="row13" name="row13">
          </div>
        </div>
      </form>
    </div>
      <div style="page-break-after: always;"></div>
      <ul>
          <li>This is a seed packet that contains 1/3 of the information needed to recover bitcoins in a 3 of 7 HD multisig wallet.</li>
          <li>There are 6 other packets that are identical except that they contain one of the other sets of seed words.</li> 
          <li>The HD Multisig wallet was was created using YetiCold.com (a Python script to make the experience more user friendly) and Bitcoin Core 0.19 RC1.</li>
          <li>To recover the bitcoin go to YetiCold.com and click "Cold" and then follow the recovery instructions.</li>
          <li>YetiCold.com should direct you to download a script to make the process of using Bitcoin Core easier, but never trust any website with your seed words.</li>
          <li>Consider putting a small amount of money into YetiCold.com cold storage and recovering them before attempting to recover significant funds.</li>
          <li>A test run will give you the opportunity to make sure that your seed words are never connected to an online device before.</li>
          <li>If many years have passed you should check that YetiCold.com has retained a good reputation.</li>
          <li>If YetiCold.com is no longer reputable use Bitcoin Core alone to recover your bitcoin (with the help of a trusted expert only if absolutely needed as these people may attempt to steal the bitcoin).</li>
          <li>No software beyond Bitcoin Core is required to recover the stored bitcoin.</li>
          <li>This seed packet also contains a usb device that has a digital copy of the information on this document. It does not contain another set of seed words, but simply a copy of the seed words in this document.</li>
          <li>Two other seed packets must be obtained to recover the bitcoin stored.</li>
          <li>YetiCold.com recommends storing seed words in locations like safety deposit boxes, home safes, and with professionals such as accountants and lawyers.</li> 
      </ul>
    <div style="page-break-after: always;"></div>
    <div class="container" style="margin-top: 3rem;">
      <h4>This is your descriptor. To easily recover your funds later you must have 3 sets of seed words and this descriptor.</h4>
      <h4 style="word-break:break-all; width: 70vh;"> {{ first }}</h4>
      <img src="{{path}}" style="height: 70vh; width: 70vh">
      <div style="page-break-after: always;"></div>
      <ul>
          <li>This is one set of your seed words. This is the third of seven. You need 3 of these and your descriptor to easily recover your bitcoin.</li>
          <li>YeitCold.com accepts these seed words in this modified NATO format, but other bitcoin software, such as Bitcoin Core, may require you provide your seed in the Wallet Import Format (WIF).</li>
          <li>To convert these seed words into WIF format ignore the fifth word (last word) on each line (it is used as checksum as part of modified NATO). Then use the first letter of each word to determine the letter. For example "JULIETT" is J and "quebec" is q. Upper case words represent upper case letters and lower case words represent lower case letters. Numbers are written out so "TWO" is 2. This will give you 52 numbers, uppercase letters, and lowercase letters that is your seed in WIF
              format.</li>
          <li>This seed is also stored in both the modified NATO format and the WIF format on the usb drive that should be stored with this document.</li>
      </ul>
      <form action="" method="post" style="border: solid #f8f9fa;padding: 1.5rem;">
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">1</span>
            </div>
            <input type="text" class="form-control" value="" id="row1" name="row1">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">2</span>
            </div>
            <input type="text" class="form-control" value="" id="row2" name="row2">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">3</span>
            </div>
            <input type="text" class="form-control" value="" id="row3" name="row3">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">4</span>
            </div>
            <input type="text" class="form-control" value="" id="row4" name="row4">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">5</span>
            </div>
            <input type="text" class="form-control" value="" id="row5" name="row5">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">6</span>
            </div>
            <input type="text" class="form-control" value="" id="row6" name="row6">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">7</span>
            </div>
            <input type="text" class="form-control" value="" id="row7" name="row7">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">8</span>
            </div>
            <input type="text" class="form-control" value="" id="row8" name="row8">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">9</span>
            </div>
            <input type="text" class="form-control" value="" id="row9" name="row9">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">10</span>
            </div>
            <input type="text" class="form-control" value="" id="row10" name="row10">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">11</span>
            </div>
            <input type="text" class="form-control" value="" id="row11" name="row11">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">12</span>
            </div>
            <input type="text" class="form-control" value="" id="row12" name="row12">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">13</span>
            </div>
            <input type="text" class="form-control" value="" id="row13" name="row13">
          </div>
        </div>
      </form>
    </div>
      <div style="page-break-after: always;"></div>
      <ul>
          <li>This is a seed packet that contains 1/3 of the information needed to recover bitcoins in a 3 of 7 HD multisig wallet.</li>
          <li>There are 6 other packets that are identical except that they contain one of the other sets of seed words.</li> 
          <li>The HD Multisig wallet was was created using YetiCold.com (a Python script to make the experience more user friendly) and Bitcoin Core 0.19 RC1.</li>
          <li>To recover the bitcoin go to YetiCold.com and click "Cold" and then follow the recovery instructions.</li>
          <li>YetiCold.com should direct you to download a script to make the process of using Bitcoin Core easier, but never trust any website with your seed words.</li>
          <li>Consider putting a small amount of money into YetiCold.com cold storage and recovering them before attempting to recover significant funds.</li>
          <li>A test run will give you the opportunity to make sure that your seed words are never connected to an online device before.</li>
          <li>If many years have passed you should check that YetiCold.com has retained a good reputation.</li>
          <li>If YetiCold.com is no longer reputable use Bitcoin Core alone to recover your bitcoin (with the help of a trusted expert only if absolutely needed as these people may attempt to steal the bitcoin).</li>
          <li>No software beyond Bitcoin Core is required to recover the stored bitcoin.</li>
          <li>This seed packet also contains a usb device that has a digital copy of the information on this document. It does not contain another set of seed words, but simply a copy of the seed words in this document.</li>
          <li>Two other seed packets must be obtained to recover the bitcoin stored.</li>
          <li>YetiCold.com recommends storing seed words in locations like safety deposit boxes, home safes, and with professionals such as accountants and lawyers.</li> 
      </ul>
    <div style="page-break-after: always;"></div>
    <div class="container" style="margin-top: 3rem;">
      <h4>This is your descriptor. To easily recover your funds later you must have 3 sets of seed words and this descriptor.</h4>
      <h4 style="word-break:break-all; width: 70vh;"> {{ first }}</h4>
      <img src="{{path}}" style="height: 70vh; width: 70vh">
      <div style="page-break-after: always;"></div>
      <ul>
          <li>This is one set of your seed words. This is the fourth of seven. You need 3 of these and your descriptor to easily recover your bitcoin.</li>
          <li>YeitCold.com accepts these seed words in this modified NATO format, but other bitcoin software, such as Bitcoin Core, may require you provide your seed in the Wallet Import Format (WIF).</li>
          <li>To convert these seed words into WIF format ignore the fifth word (last word) on each line (it is used as checksum as part of modified NATO). Then use the first letter of each word to determine the letter. For example "JULIETT" is J and "quebec" is q. Upper case words represent upper case letters and lower case words represent lower case letters. Numbers are written out so "TWO" is 2. This will give you 52 numbers, uppercase letters, and lowercase letters that is your seed in WIF
              format.</li>
          <li>This seed is also stored in both the modified NATO format and the WIF format on the usb drive that should be stored with this document.</li>
      </ul>
      <form action="" method="post" style="border: solid #f8f9fa;padding: 1.5rem;">
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">1</span>
            </div>
            <input type="text" class="form-control" value="" id="row1" name="row1">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">2</span>
            </div>
            <input type="text" class="form-control" value="" id="row2" name="row2">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">3</span>
            </div>
            <input type="text" class="form-control" value="" id="row3" name="row3">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">4</span>
            </div>
            <input type="text" class="form-control" value="" id="row4" name="row4">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">5</span>
            </div>
            <input type="text" class="form-control" value="" id="row5" name="row5">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">6</span>
            </div>
            <input type="text" class="form-control" value="" id="row6" name="row6">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">7</span>
            </div>
            <input type="text" class="form-control" value="" id="row7" name="row7">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">8</span>
            </div>
            <input type="text" class="form-control" value="" id="row8" name="row8">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">9</span>
            </div>
            <input type="text" class="form-control" value="" id="row9" name="row9">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">10</span>
            </div>
            <input type="text" class="form-control" value="" id="row10" name="row10">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">11</span>
            </div>
            <input type="text" class="form-control" value="" id="row11" name="row11">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">12</span>
            </div>
            <input type="text" class="form-control" value="" id="row12" name="row12">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">13</span>
            </div>
            <input type="text" class="form-control" value="" id="row13" name="row13">
          </div>
        </div>
      </form>
    </div>
      <div style="page-break-after: always;"></div>
      <ul>
          <li>This is a seed packet that contains 1/3 of the information needed to recover bitcoins in a 3 of 7 HD multisig wallet.</li>
          <li>There are 6 other packets that are identical except that they contain one of the other sets of seed words.</li> 
          <li>The HD Multisig wallet was was created using YetiCold.com (a Python script to make the experience more user friendly) and Bitcoin Core 0.19 RC1.</li>
          <li>To recover the bitcoin go to YetiCold.com and click "Cold" and then follow the recovery instructions.</li>
          <li>YetiCold.com should direct you to download a script to make the process of using Bitcoin Core easier, but never trust any website with your seed words.</li>
          <li>Consider putting a small amount of money into YetiCold.com cold storage and recovering them before attempting to recover significant funds.</li>
          <li>A test run will give you the opportunity to make sure that your seed words are never connected to an online device before.</li>
          <li>If many years have passed you should check that YetiCold.com has retained a good reputation.</li>
          <li>If YetiCold.com is no longer reputable use Bitcoin Core alone to recover your bitcoin (with the help of a trusted expert only if absolutely needed as these people may attempt to steal the bitcoin).</li>
          <li>No software beyond Bitcoin Core is required to recover the stored bitcoin.</li>
          <li>This seed packet also contains a usb device that has a digital copy of the information on this document. It does not contain another set of seed words, but simply a copy of the seed words in this document.</li>
          <li>Two other seed packets must be obtained to recover the bitcoin stored.</li>
          <li>YetiCold.com recommends storing seed words in locations like safety deposit boxes, home safes, and with professionals such as accountants and lawyers.</li> 
      </ul>
    <div style="page-break-after: always;"></div>
    <div class="container" style="margin-top: 3rem;">
      <h4>This is your descriptor. To easily recover your funds later you must have 3 sets of seed words and this descriptor.</h4>
      <h4 style="word-break:break-all; width: 70vh;"> {{ first }}</h4>
      <img src="{{path}}" style="height: 70vh; width: 70vh">
      <div style="page-break-after: always;"></div>
      <ul>
          <li>This is one set of your seed words. This is the fifth of seven. You need 3 of these and your descriptor to easily recover your bitcoin.</li>
          <li>YeitCold.com accepts these seed words in this modified NATO format, but other bitcoin software, such as Bitcoin Core, may require you provide your seed in the Wallet Import Format (WIF).</li>
          <li>To convert these seed words into WIF format ignore the fifth word (last word) on each line (it is used as checksum as part of modified NATO). Then use the first letter of each word to determine the letter. For example "JULIETT" is J and "quebec" is q. Upper case words represent upper case letters and lower case words represent lower case letters. Numbers are written out so "TWO" is 2. This will give you 52 numbers, uppercase letters, and lowercase letters that is your seed in WIF
              format.</li>
          <li>This seed is also stored in both the modified NATO format and the WIF format on the usb drive that should be stored with this document.</li>
      </ul>
      <form action="" method="post" style="border: solid #f8f9fa;padding: 1.5rem;">
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">1</span>
            </div>
            <input type="text" class="form-control" value="" id="row1" name="row1">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">2</span>
            </div>
            <input type="text" class="form-control" value="" id="row2" name="row2">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">3</span>
            </div>
            <input type="text" class="form-control" value="" id="row3" name="row3">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">4</span>
            </div>
            <input type="text" class="form-control" value="" id="row4" name="row4">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">5</span>
            </div>
            <input type="text" class="form-control" value="" id="row5" name="row5">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">6</span>
            </div>
            <input type="text" class="form-control" value="" id="row6" name="row6">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">7</span>
            </div>
            <input type="text" class="form-control" value="" id="row7" name="row7">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">8</span>
            </div>
            <input type="text" class="form-control" value="" id="row8" name="row8">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">9</span>
            </div>
            <input type="text" class="form-control" value="" id="row9" name="row9">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">10</span>
            </div>
            <input type="text" class="form-control" value="" id="row10" name="row10">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">11</span>
            </div>
            <input type="text" class="form-control" value="" id="row11" name="row11">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">12</span>
            </div>
            <input type="text" class="form-control" value="" id="row12" name="row12">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">13</span>
            </div>
            <input type="text" class="form-control" value="" id="row13" name="row13">
          </div>
        </div>
      </form>
    </div>
      <div style="page-break-after: always;"></div>
      <ul>
          <li>This is a seed packet that contains 1/3 of the information needed to recover bitcoins in a 3 of 7 HD multisig wallet.</li>
          <li>There are 6 other packets that are identical except that they contain one of the other sets of seed words.</li> 
          <li>The HD Multisig wallet was was created using YetiCold.com (a Python script to make the experience more user friendly) and Bitcoin Core 0.19 RC1.</li>
          <li>To recover the bitcoin go to YetiCold.com and cold "Cold" and then follow the instructions for recovery.</li>
          <li>YetiCold.com should direct you to download a script to make the process of using Bitcoin Core easier, but never trust any website with your seed words.</li>
          <li>Consider putting a small amount of money into YetiCold.com cold storage and recovering them before attempting to recover significant funds.</li>
          <li>A test run will give you the opportunity to make sure that your seed words are never connected to an online device before.</li>
          <li>If many years have passed you should check that YetiCold.com has retained a good reputation.</li>
          <li>If YetiCold.com is no longer reputable use Bitcoin Core alone to recover your bitcoin (with the help of a trusted expert only if absolutely needed as these people may attempt to steal the bitcoin).</li>
          <li>No software beyond Bitcoin Core is required to recover the stored bitcoin.</li>
          <li>This seed packet also contains a usb device that has a digital copy of the information on this document. It does not contain another set of seed words, but simply a copy of the seed words in this document.</li>
          <li>Two other seed packets must be obtained to recover the bitcoin stored.</li>
          <li>YetiCold.com recommends storing seed words in locations like safety deposit boxes, home safes, and with professionals such as accountants and lawyers.</li> 
      </ul>
    <div style="page-break-after: always;"></div>
    <div class="container" style="margin-top: 3rem;">
      <h4>This is your descriptor. To easily recover your funds later you must have 3 sets of seed words and this descriptor.</h4>
      <h4 style="word-break:break-all; width: 70vh;"> {{ first }}</h4>
      <img src="{{path}}" style="height: 70vh; width: 70vh">
      <div style="page-break-after: always;"></div>
      <ul>
          <li>This is one set of your seed words. This is the sixth of seven. You need 3 of these and your descriptor to easily recover your bitcoin.</li>
          <li>YeitCold.com accepts these seed words in this modified NATO format, but other bitcoin software, such as Bitcoin Core, may require you provide your seed in the Wallet Import Format (WIF).</li>
          <li>To convert these seed words into WIF format ignore the fifth word (last word) on each line (it is used as checksum as part of modified NATO). Then use the first letter of each word to determine the letter. For example "JULIETT" is J and "quebec" is q. Upper case words represent upper case letters and lower case words represent lower case letters. Numbers are written out so "TWO" is 2. This will give you 52 numbers, uppercase letters, and lowercase letters that is your seed in WIF
              format.</li>
          <li>This seed is also stored in both the modified NATO format and the WIF format on the usb drive that should be stored with this document.</li>
      </ul>
      <form action="" method="post" style="border: solid #f8f9fa;padding: 1.5rem;">
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">1</span>
            </div>
            <input type="text" class="form-control" value="" id="row1" name="row1">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">2</span>
            </div>
            <input type="text" class="form-control" value="" id="row2" name="row2">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">3</span>
            </div>
            <input type="text" class="form-control" value="" id="row3" name="row3">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">4</span>
            </div>
            <input type="text" class="form-control" value="" id="row4" name="row4">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">5</span>
            </div>
            <input type="text" class="form-control" value="" id="row5" name="row5">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">6</span>
            </div>
            <input type="text" class="form-control" value="" id="row6" name="row6">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">7</span>
            </div>
            <input type="text" class="form-control" value="" id="row7" name="row7">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">8</span>
            </div>
            <input type="text" class="form-control" value="" id="row8" name="row8">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">9</span>
            </div>
            <input type="text" class="form-control" value="" id="row9" name="row9">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">10</span>
            </div>
            <input type="text" class="form-control" value="" id="row10" name="row10">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">11</span>
            </div>
            <input type="text" class="form-control" value="" id="row11" name="row11">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">12</span>
            </div>
            <input type="text" class="form-control" value="" id="row12" name="row12">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">13</span>
            </div>
            <input type="text" class="form-control" value="" id="row13" name="row13">
          </div>
        </div>
      </form>
    </div>
      <div style="page-break-after: always;"></div>
      <ul>
          <li>This is a seed packet that contains 1/3 of the information needed to recover bitcoins in a 3 of 7 HD multisig wallet.</li>
          <li>There are 6 other packets that are identical except that they contain one of the other sets of seed words.</li> 
          <li>The HD Multisig wallet was was created using YetiCold.com (a Python script to make the experience more user friendly) and Bitcoin Core 0.19 RC1.</li>
          <li>To recover the bitcoin go to YetiCold.com and click "Cold" and then follow the recovery instructions.</li>
          <li>YetiCold.com should direct you to download a script to make the process of using Bitcoin Core easier, but never trust any website with your seed words.</li>
          <li>Consider putting a small amount of money into YetiCold.com cold storage and recovering them before attempting to recover significant funds.</li>
          <li>A test run will give you the opportunity to make sure that your seed words are never connected to an online device before.</li>
          <li>If many years have passed you should check that YetiCold.com has retained a good reputation.</li>
          <li>If YetiCold.com is no longer reputable use Bitcoin Core alone to recover your bitcoin (with the help of a trusted expert only if absolutely needed as these people may attempt to steal the bitcoin).</li>
          <li>No software beyond Bitcoin Core is required to recover the stored bitcoin.</li>
          <li>This seed packet also contains a usb device that has a digital copy of the information on this document. It does not contain another set of seed words, but simply a copy of the seed words in this document.</li>
          <li>Two other seed packets must be obtained to recover the bitcoin stored.</li>
          <li>YetiCold.com recommends storing seed words in locations like safety deposit boxes, home safes, and with professionals such as accountants and lawyers.</li> 
      </ul>
    <div style="page-break-after: always;"></div>
    <div class="container" style="margin-top: 3rem;">
      <h4>This is your descriptor. To easily recover your funds later you must have 3 sets of seed words and this descriptor.</h4>
      <h4 style="word-break:break-all; width: 70vh;"> {{ first }}</h4>
      <img src="{{path}}" style="height: 70vh; width: 70vh">
      <div style="page-break-after: always;"></div>
      <ul>
          <li>This is one set of your seed words. This is the seventh of seven. You need 3 of these and your descriptor to easily recover your bitcoin.</li>
          <li>YeitCold.com accepts these seed words in this modified NATO format, but other bitcoin software, such as Bitcoin Core, may require you provide your seed in the Wallet Import Format (WIF).</li>
          <li>To convert these seed words into WIF format ignore the fifth word (last word) on each line (it is used as checksum as part of modified NATO). Then use the first letter of each word to determine the letter. For example "JULIETT" is J and "quebec" is q. Upper case words represent upper case letters and lower case words represent lower case letters. Numbers are written out so "TWO" is 2. This will give you 52 numbers, uppercase letters, and lowercase letters that is your seed in WIF
              format.</li>
          <li>This seed is also stored in both the modified NATO format and the WIF format on the usb drive that should be stored with this document.</li>
      </ul>
      <form action="" method="post" style="border: solid #f8f9fa;padding: 1.5rem;">
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">1</span>
            </div>
            <input type="text" class="form-control" value="" id="row1" name="row1">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">2</span>
            </div>
            <input type="text" class="form-control" value="" id="row2" name="row2">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">3</span>
            </div>
            <input type="text" class="form-control" value="" id="row3" name="row3">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">4</span>
            </div>
            <input type="text" class="form-control" value="" id="row4" name="row4">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">5</span>
            </div>
            <input type="text" class="form-control" value="" id="row5" name="row5">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">6</span>
            </div>
            <input type="text" class="form-control" value="" id="row6" name="row6">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">7</span>
            </div>
            <input type="text" class="form-control" value="" id="row7" name="row7">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">8</span>
            </div>
            <input type="text" class="form-control" value="" id="row8" name="row8">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">9</span>
            </div>
            <input type="text" class="form-control" value="" id="row9" name="row9">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">10</span>
            </div>
            <input type="text" class="form-control" value="" id="row10" name="row10">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">11</span>
            </div>
            <input type="text" class="form-control" value="" id="row11" name="row11">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">12</span>
            </div>
            <input type="text" class="form-control" value="" id="row12" name="row12">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">13</span>
            </div>
            <input type="text" class="form-control" value="" id="row13" name="row13">
          </div>
        </div>
      </form>
    </div>
    <script>
      navbar("{{yeti}}", "{{url_for('static', filename='yeti.png')}}");
    </script>
  </body>
</html>
