<html>
 <head>
    <title>Yeti Bitcoin Wallet</title>
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet", href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet", href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
  </head>
  <body style="color: black;">
    <div id='navbar'></div> 
    <div class="container" style="margin-top: 3rem;margin-left:0px;">
      <h2>Step {{step}}: Print this page</h2>
      <ul>
          <li>This page contains instructions for recovery.</li>
          <li>Click the <b>Three horizontal bars</b> in the upper right hand corner of Firefox and then click <b>Print</b>.</li> 
          <li>After you have verified this page printed 7 full set of recovery instructions place one in each of your envelopes and click <b>Next</b> to continue.</li>
          <li>If you are testing Yeti you can skip printing this out and just use your CDs, but this would be foolish when using real money.</li>
      </ul>
      <form action="" method="post" style="margin-top: 35px;">
        <input style="display: none;" name="option" value="VALUE">
        <input class="btn btn-primary" type="submit" id="next" value="Next">
      </form>
      <div style="page-break-after: always;"></div>
      <div style="margin-top:100vh;page-break-after: always;"></div>
      <ul>
      {%for i in range(0, len)%} 
          <li style="overflow-wrap: anywhere;">{{txt[i]}}</li> 
      {%endfor%}
      </ul>
      <div style="page-break-after: always;"></div>
      <form action="" method="post" style="border: solid #f8f9fa;padding: 1.5rem;">
          <div class="input-group col-md-2 mb-2">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">Seed #</span>
            </div>
            <input type="text" class="form-control" value="" id="row1" name="row1">
          </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">1</span>
            </div>
            <input type="text" class="form-control" value="" id="row1" name="row1">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">2</span>
            </div>
            <input type="text" class="form-control" value="" id="row2" name="row2">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">3</span>
            </div>
            <input type="text" class="form-control" value="" id="row3" name="row3">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">4</span>
            </div>
            <input type="text" class="form-control" value="" id="row4" name="row4">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">5</span>
            </div>
            <input type="text" class="form-control" value="" id="row5" name="row5">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">6</span>
            </div>
            <input type="text" class="form-control" value="" id="row6" name="row6">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">7</span>
            </div>
            <input type="text" class="form-control" value="" id="row7" name="row7">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">8</span>
            </div>
            <input type="text" class="form-control" value="" id="row8" name="row8">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">9</span>
            </div>
            <input type="text" class="form-control" value="" id="row9" name="row9">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">10</span>
            </div>
            <input type="text" class="form-control" value="" id="row10" name="row10">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">11</span>
            </div>
            <input type="text" class="form-control" value="" id="row11" name="row11">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">12</span>
            </div>
            <input type="text" class="form-control" value="" id="row12" name="row12">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">13</span>
            </div>
            <input type="text" class="form-control" value="" id="row13" name="row13">
          </div>
        </div>
      </form>
      <div style="page-break-after: always;"></div>
      <ul>
      {%for i in range(0, len)%} 
          <li style="overflow-wrap: anywhere;">{{txt[i]}}</li> 
      {%endfor%}
      </ul>
      <div style="page-break-after: always;"></div>
      <form action="" method="post" style="border: solid #f8f9fa;padding: 1.5rem;">
          <div class="input-group col-md-2 mb-2">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">Seed #</span>
            </div>
            <input type="text" class="form-control" value="" id="row1" name="row1">
          </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">1</span>
            </div>
            <input type="text" class="form-control" value="" id="row1" name="row1">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">2</span>
            </div>
            <input type="text" class="form-control" value="" id="row2" name="row2">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">3</span>
            </div>
            <input type="text" class="form-control" value="" id="row3" name="row3">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">4</span>
            </div>
            <input type="text" class="form-control" value="" id="row4" name="row4">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">5</span>
            </div>
            <input type="text" class="form-control" value="" id="row5" name="row5">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">6</span>
            </div>
            <input type="text" class="form-control" value="" id="row6" name="row6">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">7</span>
            </div>
            <input type="text" class="form-control" value="" id="row7" name="row7">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">8</span>
            </div>
            <input type="text" class="form-control" value="" id="row8" name="row8">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">9</span>
            </div>
            <input type="text" class="form-control" value="" id="row9" name="row9">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">10</span>
            </div>
            <input type="text" class="form-control" value="" id="row10" name="row10">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">11</span>
            </div>
            <input type="text" class="form-control" value="" id="row11" name="row11">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">12</span>
            </div>
            <input type="text" class="form-control" value="" id="row12" name="row12">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">13</span>
            </div>
            <input type="text" class="form-control" value="" id="row13" name="row13">
          </div>
        </div>
      </form>
      <div style="page-break-after: always;"></div>
      <ul>
      {%for i in range(0, len)%} 
          <li style="overflow-wrap: anywhere;">{{txt[i]}}</li> 
      {%endfor%}
      </ul>
      <div style="page-break-after: always;"></div>
      <form action="" method="post" style="border: solid #f8f9fa;padding: 1.5rem;">
          <div class="input-group col-md-2 mb-2">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">Seed #</span>
            </div>
            <input type="text" class="form-control" value="" id="row1" name="row1">
          </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">1</span>
            </div>
            <input type="text" class="form-control" value="" id="row1" name="row1">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">2</span>
            </div>
            <input type="text" class="form-control" value="" id="row2" name="row2">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">3</span>
            </div>
            <input type="text" class="form-control" value="" id="row3" name="row3">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">4</span>
            </div>
            <input type="text" class="form-control" value="" id="row4" name="row4">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">5</span>
            </div>
            <input type="text" class="form-control" value="" id="row5" name="row5">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">6</span>
            </div>
            <input type="text" class="form-control" value="" id="row6" name="row6">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">7</span>
            </div>
            <input type="text" class="form-control" value="" id="row7" name="row7">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">8</span>
            </div>
            <input type="text" class="form-control" value="" id="row8" name="row8">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">9</span>
            </div>
            <input type="text" class="form-control" value="" id="row9" name="row9">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">10</span>
            </div>
            <input type="text" class="form-control" value="" id="row10" name="row10">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">11</span>
            </div>
            <input type="text" class="form-control" value="" id="row11" name="row11">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">12</span>
            </div>
            <input type="text" class="form-control" value="" id="row12" name="row12">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">13</span>
            </div>
            <input type="text" class="form-control" value="" id="row13" name="row13">
          </div>
        </div>
      </form>
      <div style="page-break-after: always;"></div>
      <ul>
      {%for i in range(0, len)%} 
          <li style="overflow-wrap: anywhere;">{{txt[i]}}</li> 
      {%endfor%}
      </ul>
      <div style="page-break-after: always;"></div>
      <form action="" method="post" style="border: solid #f8f9fa;padding: 1.5rem;">
          <div class="input-group col-md-2 mb-2">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">Seed #</span>
            </div>
            <input type="text" class="form-control" value="" id="row1" name="row1">
          </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">1</span>
            </div>
            <input type="text" class="form-control" value="" id="row1" name="row1">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">2</span>
            </div>
            <input type="text" class="form-control" value="" id="row2" name="row2">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">3</span>
            </div>
            <input type="text" class="form-control" value="" id="row3" name="row3">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">4</span>
            </div>
            <input type="text" class="form-control" value="" id="row4" name="row4">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">5</span>
            </div>
            <input type="text" class="form-control" value="" id="row5" name="row5">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">6</span>
            </div>
            <input type="text" class="form-control" value="" id="row6" name="row6">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">7</span>
            </div>
            <input type="text" class="form-control" value="" id="row7" name="row7">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">8</span>
            </div>
            <input type="text" class="form-control" value="" id="row8" name="row8">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">9</span>
            </div>
            <input type="text" class="form-control" value="" id="row9" name="row9">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">10</span>
            </div>
            <input type="text" class="form-control" value="" id="row10" name="row10">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">11</span>
            </div>
            <input type="text" class="form-control" value="" id="row11" name="row11">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">12</span>
            </div>
            <input type="text" class="form-control" value="" id="row12" name="row12">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">13</span>
            </div>
            <input type="text" class="form-control" value="" id="row13" name="row13">
          </div>
        </div>
      </form>
      <div style="page-break-after: always;"></div>
      <ul>
      {%for i in range(0, len)%} 
          <li style="overflow-wrap: anywhere;">{{txt[i]}}</li> 
      {%endfor%}
      </ul>
      <div style="page-break-after: always;"></div>
      <form action="" method="post" style="border: solid #f8f9fa;padding: 1.5rem;">
          <div class="input-group col-md-2 mb-2">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">Seed #</span>
            </div>
            <input type="text" class="form-control" value="" id="row1" name="row1">
          </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">1</span>
            </div>
            <input type="text" class="form-control" value="" id="row1" name="row1">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">2</span>
            </div>
            <input type="text" class="form-control" value="" id="row2" name="row2">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">3</span>
            </div>
            <input type="text" class="form-control" value="" id="row3" name="row3">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">4</span>
            </div>
            <input type="text" class="form-control" value="" id="row4" name="row4">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">5</span>
            </div>
            <input type="text" class="form-control" value="" id="row5" name="row5">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">6</span>
            </div>
            <input type="text" class="form-control" value="" id="row6" name="row6">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">7</span>
            </div>
            <input type="text" class="form-control" value="" id="row7" name="row7">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">8</span>
            </div>
            <input type="text" class="form-control" value="" id="row8" name="row8">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">9</span>
            </div>
            <input type="text" class="form-control" value="" id="row9" name="row9">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">10</span>
            </div>
            <input type="text" class="form-control" value="" id="row10" name="row10">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">11</span>
            </div>
            <input type="text" class="form-control" value="" id="row11" name="row11">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">12</span>
            </div>
            <input type="text" class="form-control" value="" id="row12" name="row12">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">13</span>
            </div>
            <input type="text" class="form-control" value="" id="row13" name="row13">
          </div>
        </div>
      </form>
      <div style="page-break-after: always;"></div>
      <ul>
      {%for i in range(0, len)%} 
        <li style="overflow-wrap: anywhere;">{{txt[i]}}</li> 
      {%endfor%}
      </ul>
      <div style="page-break-after: always;"></div>
      <form action="" method="post" style="border: solid #f8f9fa;padding: 1.5rem;">
          <div class="input-group col-md-2 mb-2">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">Seed #</span>
            </div>
            <input type="text" class="form-control" value="" id="row1" name="row1">
          </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">1</span>
            </div>
            <input type="text" class="form-control" value="" id="row1" name="row1">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">2</span>
            </div>
            <input type="text" class="form-control" value="" id="row2" name="row2">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">3</span>
            </div>
            <input type="text" class="form-control" value="" id="row3" name="row3">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">4</span>
            </div>
            <input type="text" class="form-control" value="" id="row4" name="row4">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">5</span>
            </div>
            <input type="text" class="form-control" value="" id="row5" name="row5">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">6</span>
            </div>
            <input type="text" class="form-control" value="" id="row6" name="row6">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">7</span>
            </div>
            <input type="text" class="form-control" value="" id="row7" name="row7">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">8</span>
            </div>
            <input type="text" class="form-control" value="" id="row8" name="row8">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">9</span>
            </div>
            <input type="text" class="form-control" value="" id="row9" name="row9">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">10</span>
            </div>
            <input type="text" class="form-control" value="" id="row10" name="row10">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">11</span>
            </div>
            <input type="text" class="form-control" value="" id="row11" name="row11">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">12</span>
            </div>
            <input type="text" class="form-control" value="" id="row12" name="row12">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">13</span>
            </div>
            <input type="text" class="form-control" value="" id="row13" name="row13">
          </div>
        </div>
      </form>
      <div style="page-break-after: always;"></div>
      <ul>
      {%for i in range(0, len)%} 
          <li style="overflow-wrap: anywhere;">{{txt[i]}}</li> 
      {%endfor%}
      </ul>
      <div style="page-break-after: always;"></div>
      <form action="" method="post" style="border: solid #f8f9fa;padding: 1.5rem;">
          <div class="input-group col-md-2 mb-2">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">Seed #</span>
            </div>
            <input type="text" class="form-control" value="" id="row1" name="row1">
          </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">1</span>
            </div>
            <input type="text" class="form-control" value="" id="row1" name="row1">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">2</span>
            </div>
            <input type="text" class="form-control" value="" id="row2" name="row2">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">3</span>
            </div>
            <input type="text" class="form-control" value="" id="row3" name="row3">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">4</span>
            </div>
            <input type="text" class="form-control" value="" id="row4" name="row4">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">5</span>
            </div>
            <input type="text" class="form-control" value="" id="row5" name="row5">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">6</span>
            </div>
            <input type="text" class="form-control" value="" id="row6" name="row6">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">7</span>
            </div>
            <input type="text" class="form-control" value="" id="row7" name="row7">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">8</span>
            </div>
            <input type="text" class="form-control" value="" id="row8" name="row8">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">9</span>
            </div>
            <input type="text" class="form-control" value="" id="row9" name="row9">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">10</span>
            </div>
            <input type="text" class="form-control" value="" id="row10" name="row10">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">11</span>
            </div>
            <input type="text" class="form-control" value="" id="row11" name="row11">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">12</span>
            </div>
            <input type="text" class="form-control" value="" id="row12" name="row12">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">13</span>
            </div>
            <input type="text" class="form-control" value="" id="row13" name="row13">
          </div>
        </div>
      </form>
    </div>
    <script>
      navbar("{{yeti}}", "{{url_for('static', filename='yeti.png')}}");
    </script>
  </body>
</html>
