<html>
 <head>
    <title>Yeti Bitcoin Storage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet", href="{{ url_for('static', filename='style.css') }}">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
  </head>
  <body>
    <nav class="form-row navbar navbar-light" style="background-color: rgb(112,196,245)!important;">
        <img src="{{url_for('static', filename='yeti.png')}}" width="50" height="50" class="align-top" alt="">
        <h3 style="color:white;margin:0;">Yeti Bitcoin Cold Storage</h3>
    </nav>
    <div class="container" style="margin-top: 3rem;">
      <h2>Step 59: Secure Your Paper Seeds</h2>
      <ul>
          <li>You can now be confident that your paper seeds will recover cold storage funds as long as you have access to at least three of them.</li>
          <li>Secure the paper packets in their permanent storage location before you click Next to continue.</li>
          <li>Be sure that they are physically distributed so that a single disaster will not destroy more than 3 of them.<li>
      <form action="" method="post">
        <input style="display: none;" name="option" value="VALUE">
        <input class="btn btn-primary" type="submit" id="next" value="Next">
      </form>
    </div>
  </body>
</html>
