<html>
 <head>
    <title>Yeti Bitcoin Storage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet", href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet", href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
  </head>
  <body>
    <nav class="form-row navbar navbar-light" style="background-color: rgb(112,196,245)!important;">
        <img src="{{url_for('static', filename='yeti.png')}}" width="50" height="50" class="align-top" alt="">
        <h3 style="color:white;margin:0;">Yeti Bitcoin Cold Storage</h3>
    </nav>
    <div class="container" style="margin-top: 3rem;">
      <h2>Step 10: Copy files to DISCONNECTED laptap.</h2>
      <ol>
          <li>Connect you LARGE external hard drive.</li>
          <li>Open the Files application and check the box to display hidden files and folders.</li>
          <li>Navigate to your "Home" directory and copy these folders to your external hard drive:
              <ul>
                  <li>.bitcoin</li>
                  <li>dpkg-repack</li>
                  <li>yeticold</li>
              </ul>
          <li>Move your external hard drive to you DISCONNECTED laptop and copy these folders into the "Home" directory.</li>
          <li>One the DISCONNECTED laptop open a terminal, type "python3 ~/yeticold/offlineyeti.py" and click Enter.</li>
          <li>This will install all the required software and updates. It may take up to 2 hours to complete.</li>
          <li>When you see "Step 11: Start DISCONNECTED Yeti" on the DISCONNECTED laptap, leave this window open and continue with Step 11 on the DISCONNECTED laptap.</li>
      </ol>
      <form action="" method="post">
        <input style="display: none;" name="option" value="VALUE">
        <input class="btn btn-primary" type="submit" id="next" value="Next">
      </form>
    </div>
  </body>
</html>
