<html>
 <head>
    <title>Yeti Bitcoin Storage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet", href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet", href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='jquery-3.3.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
  </head>
  <body>
    <nav class="form-row navbar navbar-light bg-primary">
        <img src="{{url_for('static', filename='yeti.png')}}" width="50" height="50" class="align-top" alt="">
        <h3 style="color:black;margin:0;">Yeti Bitcoin Cold Storage</h3>
    </nav>
    <div class="container" style="margin-top: 3rem;">
      <h2>Yeti Cold Wallet</h2>
      <p style="margin-bottom: 30px;">This is your Yeti Cold wallet. To improve privacy you should not reuse bitcoin addresses. Yeti Cold only let's you send the full balance of a unspent transaction so you should send funds to another wallet you control, such as a Yeti Hot Wallet, in order to send smaller amounts.</p>
      <p style="margin-bottom: 30px;">Click <b style="color: #0000EE;cursor:pointer;" id="refresh">Refresh</b> in your browser to update balances.</p>
      <p style="margin-bottom: 30px;">Total Wallet Balance: {{TWB}}</p>
      <ul style="padding: 0px;">
        {%for i in range(0, len)%} 
          {%if (i % 2) == 0 %} 
            <li style="display: flex;" class="list-group-item navbar navbar-inverse">
          {%else%}
            <li style="display: flex;background-color: #e9ecef!important;color: #212529!important;" class="list-group-item navbar navbar-inverse">
          {%endif%}
              <ul class="nav navbar-nav navbar-left">
                <li class="form-inline my-2 my-lg-0">{{addresses[i]['address']}}</li>
              </ul>
              <ul class="nav navbar-nav navbar-right" style="display: flex;">
                <ul class="nav navbar-nav navbar-left" style="position: absolute; right: 28.5%!important;">
                  <li class="form-inline my-2 my-lg-0">Balance:</li>
                </ul>
                <ul class="nav navbar-nav navbar-left" style="position: absolute; right: 20%!important;">
                  <li class="form-inline my-2 my-lg-0">{{addresses[i]['balance']}}</li>
                </ul>
                <ul class="nav navbar-nav navbar-right" style="position: absolute; right: 10.5%!important;display: flex;">
                  <form action="" method="post" class="form-inline my-2 my-lg-0">
                    <input style="display: none;" name="option" value="SEND">
                    <input style="display: none;" name="txid" value="{{addresses[i]['txid']}}">
                    {%if addresses[i]['status'] == 2%}
                    <input class="btn btn-primary my-2 my-sm-0" type="submit" id="send{{i}}" value="Send">
                    {%elif addresses[i]['status'] == 1%}
                    <input disabled class="btn btn-primary my-2 my-sm-0 tooltip-confs" data-toggle="tooltip" data-placement="top" title="This amount has no confirmations yet." type="submit" id="send{{i}}" value="Send">
                    {%else%}
                    <input disabled class="btn btn-primary my-2 my-sm-0" type="submit" id="send{{i}}" value="Send">
                    {%endif%}
                  </form>
                </ul>
                <ul class="nav navbar-nav navbar-right" style="display: flex;">
                  <form action="" method="post" class="form-inline my-2 my-lg-0 navbar-right nav navbar-nav">
                    <input style="display: none;" name="option" value="RECEIVE">
                    {%if addresses[i]['status'] == 3%}
                    <input class="btn btn-secondary my-2 my-sm-0 tooltip-used" data-toggle="tooltip" data-placement="top" title="You have used this address before." type="button" id="show{{i}}" value="Receive">
                    {%else%}
                    <input class="btn btn-primary my-2 my-sm-0" type="button" id="show{{i}}" value="Receive">
                    {%endif%}
                  </form>
                </ul>
              </ul>
            </li>
        {%if (i % 2) == 0 %} 
          <li id="test{{i}}" style="display:none;" class="list-group-item navbar navbar-inverse">
        {%else%}
          <li id="test{{i}}" style="display:none;background-color: #e9ecef!important;color: #212529!important;" class="list-group-item navbar navbar-inverse">
        {%endif%}
          <img src="{{addresses[i]['route']}}" style="height: 20vh; width: 20vh">
        </li>
        {%endfor%}
      </ul>
    </div>
  </body>
  <script>
    document.getElementById("refresh").addEventListener("click", function(){
      window.location.reload();
    })
    for (let x = 0; x <= {{len}} - 1; x++) {
      document.getElementById("show" + x).addEventListener("click", function(){
        for (let y = 0; y <= {{len}} - 1; y++) {
          if (x != y ) { document.getElementById("test" + y).style.display = "none" }
        }
        if (document.getElementById("test" + x).style.display === "none") { document.getElementById("test" + x).style.display = "flex" } else { document.getElementById("test" + x).style.display = "none" } 
      })
    }
  </script>
</html>
