<html>
 <head>
    <title>Yeti Bitcoin Storage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet", href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet", href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
  </head>
  <body>
    <nav class="form-row navbar navbar-light bg-danger">
        <img src="{{url_for('static', filename='yeti.png')}}" width="50" height="50" class="align-top" alt="">
        <h3 style="color:black;margin:0;">Yeti Bitcoin Hot Storage</h3>
    </nav>
    <div class="container" style="margin-top: 3rem;">
      <h2>Step 12: You Have Completed Yeti Hot Wallet Setup</h2>
      <div>You can now use bitcoin core to send and receive funds to your bitcoin full node.</div>
      <ul>
          <li>If this computer is lost or damaged you can recover your bitcoin balance as long as you have one of your seed packets.</li>
          <li>Bitcoin core does not support QR code scanning so a button to scan and display the contents of a QR code is provided below.</li>
          <li>To send funds to a bitcoin address in a QR code simply scan the QR code and copy and paste the address into bitcoin core.</li>
          <li>Be sure to select the wallet "yetihot" in the upper right hand corner of the bicoin core interface.</li>
      </ul>
      <form action="" method="post" style="margin-top:35px;">
        <input style="display: none;" name="option" value="scanqrcode">
        <input class="btn btn-primary" type="submit" id="next" value="Scan a bitcoin address for copy and paste">
      </form>
      {%if error%}
      <div style="color:red;">{{error}}</div>
      {%endif%}
      {%if qrdata%}
      <div>{{qrdata}}</div>
      {%endif%}
    </div>
  </body>
</html>
